<ion-header>
  <ion-toolbar>
    <ion-title slot="start">Datey</ion-title>
  </ion-toolbar>
</ion-header>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="index">
      <ion-icon name="home-outline"></ion-icon>
      홈
    </ion-tab-button>
    <ion-tab-button tab="recommend">
      <ion-icon name="pin-outline"></ion-icon>
      내 주변
    </ion-tab-button>
    <ion-tab-button tab="recommend">
      <ion-icon name="person-outline"></ion-icon> 프로필
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
