<app-main-banner></app-main-banner>
<div class="h-full flex flex-col gap-4 p-4">
  <div class="w-full grid grid-cols-3 gap-4">
    <app-menu-card routerLink="">
      <ion-icon class="w-1/4 h-1/4" name="cafe-outline"></ion-icon>
      <div class="font-bold text-lg text-center">카페</div>
    </app-menu-card>
    <app-menu-card routerLink="">
      <ion-icon class="w-1/4 h-1/4" name="fast-food-outline"></ion-icon>
      <div class="font-bold text-lg text-center">식당</div>
    </app-menu-card>
    <app-menu-card routerLink="">
      <ion-icon class="w-1/4 h-1/4" name="wine-outline"></ion-icon>
      <div class="font-bold text-lg text-center">술집</div>
    </app-menu-card>
    <app-menu-card routerLink="">
      <ion-icon class="w-1/4 h-1/4" name="sparkles-outline"></ion-icon>
      <div class="font-bold text-lg text-center">엑티비티</div>
    </app-menu-card>
    <app-menu-card routerLink="">
      <ion-icon class="w-1/4 h-1/4" name="golf-outline"></ion-icon>
      <div class="font-bold text-lg text-center">관광지</div>
    </app-menu-card>
    <app-menu-card routerLink="">
      <ion-icon class="w-1/4 h-1/4" name="ribbon-outline"></ion-icon>
      <div class="font-bold text-lg text-center">이번주 추천</div>
    </app-menu-card>
  </div>
</div>
